In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from config import g_keys

#Configure gmaps
gmaps.configure(api_key=g_keys)

In [3]:
vacation_df= pd.read_csv("weather_json.csv")
vacation_df.head()

,Unnamed: 0,City,Lat,Lng,Max_Temp,Humidity,Cloudness,WindSpeed,Country,Date
0,0,kambove,-10.8764,26.5969,75.07,35,8,7.02,CD,1657879051
1,1,nanortalik,60.1432,-45.2371,43.68,83,100,0.65,GL,1657879051
2,2,kodiak,57.7900,-152.4072,54.66,91,90,3.98,US,1657879051
3,3,cherskiy,68.7500,161.3000,49.89,54,99,7.23,RU,1657879051
4,4,mataura,-46.1927,168.8643,38.48,98,98,2.86,NZ,1657879051