In [62]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from config import g_keys

#Configure gmaps
gmaps.configure(api_key=g_keys)

In [20]:
vacation_df= pd.read_csv("weather_json.csv", index_col=0)
vacation_df.head()

,City,Lat,Lng,Max_Temp,Humidity,Cloudness,WindSpeed,Country,Date
0,kambove,-10.8764,26.5969,75.07,35,8,7.02,CD,1657879051
1,nanortalik,60.1432,-45.2371,43.68,83,100,0.65,GL,1657879051
2,kodiak,57.7900,-152.4072,54.66,91,90,3.98,US,1657879051
3,cherskiy,68.7500,161.3000,49.89,54,99,7.23,RU,1657879051
4,mataura,-46.1927,168.8643,38.48,98,98,2.86,NZ,1657879051

In [6]:
# Locations
locations = vacation_df[["Lat", "Lng"]]

humidity = vacation_df["Humidity"]

In [7]:
locations

         Lat       Lng
0   -10.8764   26.5969
1    60.1432  -45.2371
2    57.7900 -152.4072
3    68.7500  161.3000
4   -46.1927  168.8643
..       ...       ...
575  41.5703  120.4586
576  -9.2000   25.8500
577  62.7161  129.6658
578 -31.6333  -60.7000
579  14.2526   -5.9930

[580 rows x 2 columns]

In [9]:
humidity

0      35
1      83
2      91
3      54
4      98
       ..
575    57
576    26
577    59
578    91
579    38
Name: Humidity, Length: 580, dtype: int64

In [10]:
# Plot Heatmap
fig = gmaps.figure()

# Create heat layer
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, 
                                 dissipating=False, max_intensity=100,
                                 point_radius=2)

# Add layer
fig.add_layer(heat_layer)


# Display figure
fig

Figure(layout=FigureLayout(height='420px'))

In [49]:
# Filtering DataFrame to find your ideal weather condition

ideal_weather_df= vacation_df.loc[(vacation_df["Max_Temp"] <= 80) & (vacation_df["WindSpeed"] < 10) & (vacation_df["Cloudness"] == 0)]

In [50]:
ideal_weather_df.reset_index(drop=True)

,City,Lat,Lng,Max_Temp,Humidity,Cloudness,WindSpeed,Country,Date
0,ushuaia,-54.8000,-68.3000,24.46,80,0,1.14,AR,1657878909
1,jamestown,42.0970,-79.2353,56.71,86,0,1.01,US,1657879054
2,port elizabeth,-33.9180,25.5701,64.69,52,0,3.44,ZA,1657878829
3,cape town,-33.9258,18.4232,66.11,70,0,8.05,ZA,1657878983
4,sacramento,38.4666,-121.3177,70.93,66,0,1.99,US,1657878997
5,port alfred,-33.5906,26.8910,65.17,68,0,1.99,ZA,1657878942
6,east london,-33.0153,27.9116,65.34,59,0,1.14,ZA,1657879060
7,midland,31.9974,-102.0779,73.90,59,0,4.61,US,1657879063
8,upernavik,72.7868,-56.1549,45.36,71,0,6.17,GL,1657879068
9,brandfort,-28.7001,26.4597,60.21,22,0,8.32,ZA,1657879071
10,taltal,-25.4000,-70.4833,52.34,73,0,5.28,CL,1657879072
11,college,64.8569,-147.8028,58.28,68,0,3.44,US,1657879073
12,vardo,70.3705,31.1107,62.58,82,0,5.75,NO,1657879075
13,portland,45.5234,-122.6762,61.61,80,0,1.99,US,1657879078
14,laguna,38.4210,-121.4238,71.01,67,0,1.99,US,1657879078
15,deneysville,-26.8908,28.0971,61.45,21,0,7.72,ZA,1657879079
16,clyde river,70.4692,-68.5914,41.23,87,0,4.61,CA,1657878971
17,tyler,32.3513,-95.3011,74.89,92,0,3.42,US,1657879081
18,newcastle,-32.9272,151.7765,53.65,78,0,0.00,AU,1657879060
19,belyy yar,53.6039,91.3903,73.29,33,0,6.71,RU,1657879088
20,lloydminster,53.2835,-110.0016,55.62,94,0,2.30,CA,1657879088
21,menongue,-14.6585,17.6910,73.51,20,0,9.35,AO,1657879090
22,davidson,36.1501,-86.7833,71.69,90,0,0.00,US,1657879091
23,yulara,-25.2406,130.9889,53.62,24,0,1.45,AU,1657879092
24,mount isa,-20.7333,139.5000,55.17,30,0,6.91,AU,1657879094
25,khani,41.9563,42.9566,71.17,33,0,4.94,GE,1657879094
26,kamariotissa,40.4833,25.4667,77.38,61,0,3.98,GR,1657879101
27,zastron,-30.3023,27.0840,57.04,23,0,4.52,ZA,1657879101
28,charlestown,-32.9500,151.6667,53.69,76,0,1.99,AU,1657879107
29,tocopilla,-22.0920,-70.1979,55.83,57,0,3.56,CL,1657879107
30,moree,-29.4667,149.8500,48.67,64,0,6.51,AU,1657879114
31,harrisburg,40.2737,-76.8844,66.87,86,0,3.62,US,1657879119
32,broome,42.2506,-75.8330,56.68,86,0,1.01,US,1657879122

In [72]:
# Hotel variable
hotels = []

# Loop through filtered dataframe to get nearby hotel
for city in range(len(ideal_weather_df["City"])):

    lat = ideal_weather_df.loc[city]["Lat"]
    lng = ideal_weather_df.loc[city]["Lng"]

    target_coordinates = f"{lat}, {lng}"
    target_radius = 5000
    target_type = "lodging"

    params = {
        "location": target_coordinates, 
        "radius": target_radius,
        "types": target_type,
        "key": g_keys
         }

    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"    

    response = requests.get(base_url, params=params)

KeyError: 0